{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "formatjs",
      {
        "messagesDir": "./temp/babel-plugin-formatjs",
        "extractSourceLocation": true
      }
    ]
  ]
}
